.container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex:1;
}
.container app-product-list, .container app-cart-list{
    flex:1;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}